<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/articles/testi">Articles</a></li>
        <li class="breadcrumb-item active"><%- article.title %></li>
    </ol>
<%- article.title %>
<%- article.body %>