<body>
<% books.forEach(function(book) { %>
    <% if (book.title.indexOf("Aamunkoitto")  >= 0) { %> 
        <div>
        <%- book.title %>
        <br>
        <%- book.synopsis %>
        </div>
    <%
    }
}) %>
</body>