<h1 class="display-4">Kirjat</h1>
<table class="table table-striped">
    <thead>
        <% books.forEach(function(book){ %>
            <tr>
                <td><a href="/books/editbook/<%- book.id %>"<%- book.title %></a></td>
            </tr>
        <% }) %>
    </tbody>
</table>