<h1 class="display-4">Kirjat</h1>
<table class="table table-striped">
    <thead>
        <% books.forEach(function(book){ %>
            <tr>
                <td><a href="/books/editbook/<%- book.id %>"<%- book.title %></a></td>
                <!-- TODO! Include this when admin user logged in:
                <td>
                    <form class="d-inline" action="/books/delete/<%- book.id %>" method="post">
                        <input type="Submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                -->
            </tr>
        <% }) %>
    </tbody>
</table>