<h1 class="display-4">Sarjakuvat</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Julkaisuvuosi</th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(function(book) { %>
            <% if (book.category == "Comic") { %>
                <tr>
                    <td><a href="/books/bookpage/<%- book.id %>"<%- book.title %></a></td>
                    <!-- TODO! Include this when admin user logged in:
                    <td>
                        <form class="d-inline" action="/books/delete/<%- book.id %>" method="post">
                            <input type="Submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                    -->
                </tr>
            <% } %>
        <% }) %>
    </tbody>
</table>