<!DOCTYPE html>
<html>

<body>
    <section id="failedlogin">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>Failed login</h1>
                        <form role="form" action="/failedlogin" method="post" id="login-form" autocomplete="off">

                            <input type="submit" id="btn-failedlogin" class="btn btn-custom btn-lg btn-block" value="Back to log in">
                        </form>
                        <hr>
                    </div>
                </div>
                <!-- /.col-xs-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Piina © - 2017</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>