<h1 class="display-4">Piina</h1>
<p class="mb-4">Suomalaisten oma Stephen King-fanisivusto</p>

<% if (req.session.me) { %>
    <a href="/articles/list" class="btn btn-light">View Articles</a>
    <a href="/articles/add" class="btn btn-light">Add Article</a>
    <a href="/books/listbook" class="btn btn-light">View and edit Books</a>
    <a href="/books/addbook" class="btn btn-light">Add Books</a>
    <% } else { %>
        <p>Et ole kirjautunut sisään</p>
        <% } %>


            <!DOCTYPE html>
            <html>

            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>Piina.Net</title>
            </head>

            <body>
                <div>
                    <% include kuvakaruselli %>
                </div>
            </body>

            </html>