<h1 class="display-4">Piina</h1>
<p class="mb-4">Suomalaisten oma Stephen King-fanisivusto</p>

            <!DOCTYPE html>
            <html>

            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>Piina.Net</title>
            </head>

            <body>
                <div>
                    <% include kuvakaruselli %>
                </div>
            </body>

            </html>