<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Piina.Net' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================
    -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--JQUERY-->
    <script src="/js/jquery.min.js"></script>
  </head>

  <body>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">Piina</a>
              </div>
            <ul class="nav navbar-nav">
              <li class="active"></li>
              <li class="dropdown"> 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stephen King</a>
                <ul class="dropdown-menu">
                    <li><a href="/articles/articlepage/5a25209f0973a693cc932cd7">Biografia</a></li>
                    <li><a href="/articles/articlepage/5a258bd8ae6d963bdbb93423">Richard Bachman</a></li>
                    <li><a href="http://stephenking.com/" target="Official Website">StephenKing.com</a></li>
                </ul>
              </li>
              <li class="dropdown"> 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kirjat</a>
                <ul class="dropdown-menu">
                    <li><a href="/books/books">Bibliografia</a></li>
                    <li><a href="/books/comics">Sarjakuvat</a></li>
                </ul>
              </li>
              <li class="dropdown"> 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filmografia</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Elokuvat</a></li>
                    <li><a href="#">TV-Sarjat</a></li>
                    <li><a href="#">Cameoroolit</a></li>
                </ul>
              </li>
            </ul>
        </nav>

        <div class="container">
          <%- body %>
        </div>

    <!--
        Client-side Templates
        ========================
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================
    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <!--SCRIPTS END-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.8/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
