<!DOCTYPE html>
<html>

<body>
    <div class="form">
        <div class="tab-content">

            <div id="login">
                <h1>Kirjaudu sisään</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <label>
            Tunnus<span class="req">*</span>
          </label>
                        <input type="email" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
            Salasana<span class="req">*</span>
          </label>
                        <input type="password" required autocomplete="off" />
                    </div>
                    <button class="button button-block" />Kirjaudu</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>